.container {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  margin: 30px;
}

.front-side {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #fff5e0;
  height: 250px;
  width: 180px;
  margin: 30px;
  margin-top: 100px;
  border-radius: 10px 40px 10px 45px;
  cursor: pointer;
  transform-style: preserve-3d; /* Mantieni la 3D anche nei figli */
  transition: transform 1s;
  perspective: 1000px; /*no funonzia */
  box-shadow: 0 5px 15px #c50038;
}

.card-img {
  flex: 1;
  height: 130px;
}

.card-types {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}

.type {
  text-align: center;
  border-radius: 10px;
  width: 60px;
  height: 22px;
}

/*colors types*/
.normal {
  background-color: #77775f;
  color: #f6f6f6;
}

.grass {
  background-color: #3a880e;
  color: #f6f6f6;
}

.poison {
  background-color: #a33ea1;
  color: #f6f6f6;
}

.fire {
  background-color: #ee5c30;
  color: #f6f6f6;
}

.flying {
  background-color: #a98ff3;
  color: #f6f6f6;
}

.water {
  background-color: #6390f0;
  color: #f6f6f6;
}

.bug {
  background-color: #a6b91a;
  color: #f6f6f6;
}

.electric {
  background-color: #f7d02c;
  color: #f6f6f6;
}

.ground {
  background-color: #68531d;
  color: #f6f6f6;
}

.fairy {
  background-color: #d685ad;
  color: #f6f6f6;
}

.fighting {
  background-color: #c22e28;
  color: #f6f6f6;
}

.psychic {
  background-color: #f95587;
  color: #f6f6f6;
}

.rock {
  background-color: #b6a136;
  color: #f6f6f6;
}

.ice {
  background-color: #96d9d6;
  color: #f6f6f6;
}

.dark {
  background-color: #140f0c;
  color: #f6f6f6;
}

.steel {
  background-color: #b7b7ce;
  color: #f6f6f6;
}

.ghost {
  background-color: #735797;
  color: #f6f6f6;
}

.dragon {
  background-color: #6f35fc;
  color: #f6f6f6;
}

/*elemnenti per ruotare*/
.flipped {
  transform: rotateY(180deg);
}

.content .back-side {
  transform: rotateY(180deg);
}

.abilities {
  margin-bottom: 10px;
  color: #c70039;
}

.abilities-list {
  display: flex;
  justify-content: left;
  margin-left: 10px;
}

.stats {
  display: flex;
  justify-content: left;
  margin-left: 10px;
}
