* {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
  font-family: Arial, Helvetica, sans-serif;
}

.input-wrapper {
  background-color: #FF6969;
  width: 100%;
  border-radius: 30px;
  height: 35px;
  display: flex;
  align-items: center;
}

input {
  background-color: transparent;
  border: none;
  height: 100%;
  font-size: 20px;
  width: 100%;
  color: #FFF5E0;
  width: 160px;
  height: 30px;
}

input:focus {
  outline: none;
}

.search-icon {
  margin-top: 5px;
  margin-left: 5px;
  width: 30px;
  height: 30px;
}

/*
abilitare dopo aver attivato la lista e completato la funzionalita ricerca
.results-list{
  width: 100%;
  background-color: white;
  display: flex;
  flex-direction: column;
  border-radius: 30px;
  margin-top: 1rem;
  max-height: 300px;
  overflow-y: scroll;
}

.search-result {
  padding: 10px 10px;
}

.search-result:hover{
  background-color: #efefef;
}
*/
